.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .dashboard-heading {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .dashboard-user-data {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
  }
  
  .dashboard-user-data p {
    margin: 5px 0;
    color: #ddd;
  }
  
  .dashboard-button {
    padding: 10px;
    width: 100%;
    background-color: #440000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dashboard-button:hover {
    background-color: #550000;
  }
  
  .dashboard-error {
    color: #ff0000;
    margin-top: 10px;
  }

  h3{
    color: #fff;
  }

  h2{
    color: #fff;
  }